<div class="container">
  <h2 class="mb-5 text-center">Articles Listing Page</h2>

  <%= render 'shared/articles_listing', articles: @articles %>

  <p>
    <%= link_to 'Create Article', new_article_path %>
  </p>
</div>
